* {
	font-size: 40px;
}

#alert {
	font-size: 50px;
	color: red;
}

.body {
  background: #f4f4f4;
}

.board {
	background: #eace9f;
}

.queen {
	fill: white;
	r: 20;
}

.block {
	fill: #7a2312;
	width: 100;
	height: 100;
}

.row {
	opacity: 0.5;
	stroke-width: 10;
	height: 100;
}

.row:not(.leftDiagonal) {
  opacity: 1;
}

.row:not(.rightDiagonal) {
  opacity: 1;
}

.mainView {
  padding: 12px;
}

.sideBar {
  min-height: 400px;
  max-width: 400px;
}

.toolBar {
  background: #373737;
  margin-top: 5%;
  text-align: center;
  color: white;
}

.sideBar, .toolBar {
  width: 300px;
  font-family: 'Arimo', sans-serif;
}

#num {
  margin-right: 2%;
}

#nVal {
  margin-left: 2%;
}

#startButton {
  width: 40%;
}

.inputBar, .toolBar {
  margin-left: 5%;
  margin-right: 5%;
}


.titleBar {
  padding-left: 15px;
  height: 75px;
  font-family: 'Zilla Slab', serif;
  font-style: 'italic';
}

.column {
	stroke: black;
	fill: green;
}
.leftDiagoanl {
	fill: yellow;
}

.rightDiagonal {
	fill: purple;
}

.ldSpots {
	fill: black;
	r: 20;
}
.rdSpots {
	fill: orange;
	r: 20;
}

.clSpots {
	fill: red;
	r: 20;
}
