.board {
	background: #eace9f;
}

.queen {
	fill: white;
	r: 20;
}

.block {
	fill: #7a2312;
	width: 100;
	height: 100;
}

.row {
	opacity: 0.5;
	stroke-width: 10;
	height: 100;
}

.column {
	stroke: black;
	fill: green;
}
.leftDiagoanl {
	fill: yellow;
}

.rightDiagonal {
	fill: purple;
}

.ldSpots {
	fill: black;
	r: 20;
}